html,
body {
    background-color: white;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

canvas {
    display: block;
}

.center {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.middle {
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.info {
    min-width: 375px;
    left: 50%;
    position: absolute;
    color: '#850505';
    font-family: courier;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    white-space: nowrap;
}

.question {
    text-align: left;
    font-weight: bold;
}

.answer {
    text-align: left;
    margin-bottom: 10px;
}

.film, .book, .drawing {
    margin-bottom: 10px;
}

.posing {
    margin-left: 20px;

    .break {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .pose {
        font-weight: bold;
    }

    .description {
        margin-bottom: 5px;
    }

    .transition {
        font-style: italic;
        margin-bottom: 10px;
    }
}


#mc_embed_signup .button {
    background-color: black !important;
}

@media screen and (min-width:1130px) {
    .links a:after {
        content: " | ";
    }

    .links a:last-child:after {
        content: '';
    }
}

@media screen and (max-width:1130px) {
    .links {
        display: inline;
    }

    .links a:after {
        content: "\a";
        white-space: pre;
    }
}